<html>
<title>Search page</title>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <!--link emoji website-->
  <link rel="stylesheet" href="css/styles.css">
  <!--link to nav function-->
  <link rel="stylesheet" href="css/searchc.css">
  <!--link to search function-->
  <style>
    h1 {
      text-align: center;
    }

    table {
      border: 0;
      margin: 5px auto;
      width: 50%;
    }

    th {
      background-color: green;
      color: white;
    }

    td {
      background-color: red;
      color: white;
    }
  </style>
</head>
<div class="logins">
  <h2><a href="/login"><i class="bi-person-fill"></i></a></h2>
  <!--link to login-->
  <h2><a href="#"><i class="bi bi-cart"></i></a></h2>
  <!--place holder for cart-->
</div>
<header>
  <article class="colum">
    <!--Set coffee shop-->
    <h1>Coffee Shop</h1>
  </article>
</header>

<nav>
  <h3><a href="/home"> Home</a></h3>
  <h3><a href="/products"> Products</a></h3>
  <h3><a href="/search"> Search</a></h3>
  <h3><a href="/aboutus"> About Us</a></h3>
</nav>

<body>

  <div class="sea"> <!--code for seach bar-->
    <div class="sea.inner">
      <h1 class="question">What are you looking for?</h1>
      <form action="/Search" method="post">
        <div class="oppa">
          <input class="n_" type="text" id="name_" name="name_" placeholder="Enter the keyword">
        </div>
        
        <div class="sea-op"> <!--code for search by-->
          <label for="country">Country: </label>
          <select id="country" name="country">
            <option value="">All Countries</option> <!--code for option select box-->
            <option value="Africa">Africa</option>
            <option value="Thailand">Thailand</option>
            <option value="England">England</option>
          </select>

          <label for="price">Price: </label>
          <select id="price" name="price">
            <option value="">All Price</option> <!--code for option select box-->
            <option value="12.99$">12.99$</option>
            <option value="13.99$">13.99$</option>
            <option value="14.99$">14.99$</option>
            <option value="15.99$">15.99$</option>
          </select>
          <div class="oppa2">
            <input class="butt" type="submit" name="buttons"></input>
          </div>
      </form>
    </div>
  </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Product name</th>
        <th>Country</th>
        <th>Prices</th>
      </tr>
      <%
      if(action == "sNoCriteria")
      {
        if(data.length > 0)
        {
          data.forEach(function(_data) {
      %>
      <tr>
        <td><%= _data.product_name %></td>
        <td><%= _data.product_info %></td>
        <td><%= _data.product_price %></td>
      </tr>
      <%
          })
        }
      }
      %>
    </thead>
    <tbody id="table-body">
    </tbody>
  </table>

  <footer>
    <!--code for setting footer-->
    <div class="foot">
      <h3>About Us</h3>
      <p>"We are new organize aimming to open<br>the best coffee shop around the world."</p>
    </div>
    <div class="foot2">
      <h3>Follow Us</h3>
      <div class=inside>
        <p><a href="https://www.facebook.com/"><i class="bi bi-facebook"></i> Facebook</a></p>
        <p><a href="https://www.instagram.com/"><i class="bi bi-instagram"></i> Instragram</a></p>
        <p><a href="Map.html"><i class="bi bi-geo-alt-fill"></i> Shop location</a></p>
      </div>
    </div>
  </footer>
</body>

</html>